.attr-layer {
  // background-color: #fff;
  flex-direction: column;
  gap: 0.1rem;

  &>.item {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &>div {
      flex: 1;
    }
  }

}

.design-page {
  display: flex;
  font-size: 16Px;

  &>.menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--design-page-color);
    border-right: 1PX solid #f2f2f2;
    padding: 0.6em;
    gap: 0.5em;

    &>.item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.4em;
      width: 1.5em;
      padding-top: 0.1em;
      border-radius: 0.6em;
      font-size: 1.8em;
      line-height: 1;
      cursor: pointer;

      &.select {
        color: var(--design-primary-color);
      }
    }
  }

  &>.comp-item {
    display: none;

    &.show {
      display: flex;
    }

    &>.template {
      width: 16em;
      display: flex;
      flex-direction: column;
      background-color: var(--design-page-color);

      .template-login {
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 0 0.8em;
        align-items: center;
        height: 2.6em;
        border-bottom: 1PX solid #f2f2f2;

        .desc {
          font-size: 0.9em;
        }

        .login {
          display: flex;
          background-color: var(--design-primary-color);
          cursor: pointer;
          text-align: center;
          align-items: center;
          font-size: 0.9em;
          color: #fff;
          padding: 0.5em 0.8em;
          border-radius: 0.4em;
        }
      }

      .template-search {
        margin: 0.8em 0.8em 0 0.8em;
        padding: 0.5em 1em;
        border-radius: 1.5em;
      }

      .tags {
        gap: 0.6em;
        margin-top: 0.4em;
        padding: 0.4em 0.8em;

        .item {
          font-size: 0.75em;
          display: flex;
          padding: 0.5em 0.6em;
          background-color: #f2f2f2;
          border-radius: 0.3em;
          cursor: pointer;
          color: #242424;

          &.select {
            background-color: var(--design-primary-color);
            color: #fff;
          }
        }
      }

      .template-item {
        gap: 0.4em;
        margin-top: 0.8em;
        padding: 0 0.8em;

        &>.info {
          align-items: center;
          gap: 0.5em;
          justify-content: space-between;
          min-height: 1em;

          &>.name {
            font-size: 0.9em;
          }

          .del {
            color: var(--design-page-color);
          }
        }

        &:hover {
          &>.info {
            .del {
              color: #ea4335;
              font-size: 0.9em;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &>.center {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
    align-items: center;

    &>.editor {
      display: flex;
      flex-direction: column;
      padding: 0.8em 0.5em;
      border-radius: 1.5em;
      background-color: #000;

      &>.phone {
        border-radius: 1.5em;
        overflow: hidden;
        height: 42em;
        display: flex;
        flex-direction: column;
      }
    }
  }

  taro-view-core {
    display: flex;
  }
}

.add-template {
  width: 20em;
  background-color: var(--design-page-color);
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &>.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.4em;

    &>.title {
      font-size: 0.9em;
      font-weight: bold;
    }

    &>.add {
      cursor: pointer;
      background-color: var(--design-primary-color);
      padding: 0.5em 0.8em;
      border-radius: 0.4em;
      color: #fff;
    }
  }

  &>.name {
    font-size: 0.8em;
    margin-top: 0.4em;
  }
}

.user-login {
  width: 20em;
  background-color: var(--design-page-color);
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &>.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.4em;

    &>.left {
      display: flex;
      gap: 0.3em;

      &>.title {
        font-size: 0.9em;
        font-weight: bold;
      }

      &>.reg {
        font-size: 0.7em;
        cursor: pointer;
      }

    }

    &>.add {
      cursor: pointer;
      background-color: var(--design-primary-color);
      padding: 0.5em 0.8em;
      border-radius: 0.4em;
      color: #fff;
    }
  }

  &>.name {
    font-size: 0.8em;
    margin-top: 0.4em;
  }
}

taro-view-core {
  display: flex;
  flex-direction: column;
  position: relative;
  border-style: solid;
  border-width: 0;
}

input,
textarea,
taro-view-core {
  box-sizing: border-box;
}

taro-view-core,
taro-text-core {
  line-height: 1;
}

taro-image-core {
  width: auto;
  height: auto;
}

.link-mall-item {
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  .image {
    width: 3em;
    height: 3em;
    flex-shrink: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2em 0;

    .title {
      font-size: 0.9em;
    }

    .price {
      font-size: 1em;
      font-weight: bold;
      color: #ea4335;
    }
  }
}

.link-content-item {
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  .image {
    width: 3.2em;
    height: 3.2em;
    flex-shrink: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1em 0;

    .title {
      font-size: 0.9em;
    }

    .desc {
      font-size: 0.75em;
      line-height: 1.2;
    }
  }
}
