@use 'sass:color';

.NumInput {
  &__num-add {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: $duxappPrimaryColor;
    &--disabled {
      opacity: 0.3;
      // background-color: color.adjust($duxappPrimaryColor, $lightness: 20%);
    }
  }
}
