@font-face {
  font-family: "duxui-design"; /* Project id 4455552 */
  src: url('//at.alicdn.com/t/c/font_4455552_93lzxdedabi.woff2?t=1712801467456') format('woff2'),
       url('//at.alicdn.com/t/c/font_4455552_93lzxdedabi.woff?t=1712801467456') format('woff'),
       url('//at.alicdn.com/t/c/font_4455552_93lzxdedabi.ttf?t=1712801467456') format('truetype');
}

.duxui-design {
  font-family: "duxui-design" !important;
}

.duxui-design-license-plate:before {
  content: "\e63b";
}

.duxui-design-touchable-opacity:before {
  content: "\e632";
}

.duxui-design-empty:before {
  content: "\e707";
}

.duxui-design-input-code:before {
  content: "\e6ba";
}

.duxui-design-number-keyboard:before {
  content: "\e754";
}

.duxui-design-scrollView-manage:before {
  content: "\e610";
}

.duxui-design-loading:before {
  content: "\e83d";
}

.duxui-design-scroll-view:before {
  content: "\e821";
}

.duxui-design-scroll-view-horizontal:before {
  content: "\e822";
}

.duxui-design-header:before {
  content: "\e697";
}

.duxui-design-linear-gradient:before {
  content: "\e60e";
}

.duxui-design-data-source:before {
  content: "\e857";
}

.duxui-design-video:before {
  content: "\e678";
}

.duxui-design-status:before {
  content: "\e6c7";
}

.duxui-design-cell:before {
  content: "\e62a";
}

.duxui-design-tag:before {
  content: "\e63d";
}

.duxui-design-calendar:before {
  content: "\e63f";
}

.duxui-design-button:before {
  content: "\e665";
}

.duxui-design-avatar:before {
  content: "\e65f";
}

.duxui-design-menu:before {
  content: "\e638";
}

.duxui-design-badge:before {
  content: "\e662";
}

.duxui-design-card-select:before {
  content: "\e66c";
}

.duxui-design-box-shadow:before {
  content: "\e765";
}

.duxui-design-form:before {
  content: "\e715";
}

.duxui-design-radio:before {
  content: "\e62d";
}

.duxui-design-text:before {
  content: "\e639";
}

.duxui-design-swiper:before {
  content: "\e63a";
}

.duxui-design-switch:before {
  content: "\e66b";
}

.duxui-design-upload-image:before {
  content: "\e69d";
}

.duxui-design-object:before {
  content: "\e6e7";
}

.duxui-design-space:before {
  content: "\e6c6";
}

.duxui-design-link:before {
  content: "\e620";
}

.duxui-design-input:before {
  content: "\eb94";
}

.duxui-design-date:before {
  content: "\e934";
}

.duxui-design-checkbox:before {
  content: "\e64f";
}

.duxui-design-grade:before {
  content: "\e69e";
}

.duxui-design-tab:before {
  content: "\e600";
}

.duxui-design-submit:before {
  content: "\e797";
}

.duxui-design-image:before {
  content: "\e8ba";
}

.duxui-design-textarea:before {
  content: "\e619";
}

.duxui-design-reset:before {
  content: "\e618";
}

.duxui-design-upload-images:before {
  content: "\e636";
}

.duxui-design-grid:before {
  content: "\e628";
}

.duxui-design-picker:before {
  content: "\e601";
}

.duxui-design-card:before {
  content: "\e76b";
}

.duxui-design-array:before {
  content: "\e60c";
}

.duxui-design-divider:before {
  content: "\e718";
}

.duxui-design-column:before {
  content: "\e60b";
}

.duxui-design-row:before {
  content: "\e60d";
}
