.Agreement {
  background-color: $duxappPageColor;
  padding: 150px 0;
  flex: 1;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 180px;
    height: 180px;
    border-radius: 32px;
    margin-bottom: 80px;
    background-color: #fff;
  }

  &__main {
    border-radius: 16px;
    background-color: #fff;
    padding: 64px 32px 48px 32px;
    width: 702px;
  }

  &__title {
    font-size: 42px;
    font-weight: bold;
    color: $duxappTextColor1;
    text-align: center;
  }

  &__desc {
    font-size: 28px;
    color: $duxappTextColor1;
    line-height: 48px;
    margin-top: 32px;

    &__link {
      color: #337ab7;
    }
  }

  &__content {
    height: 320px;
    margin-top: 24px;

    &__text {
      color: $duxappTextColor2;
      line-height: 48px;
    }
    &__height {
      height: 48px;
    }
  }

  &__submit {
    background-color: $duxappPrimaryColor;
    height: 80px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-top: 64px;

    &__text {
      color: #fff;
      font-size: 28px;
    }
  }

  &__close {
    color: $duxappTextColor3;
    font-size: 28px;
    margin-top: 42px;
  }
}
