.share {
  width: 750px;
  &__image {
    width: 600px;
    height: 800px;
    margin-left: 75px;
    align-items: center;
    justify-content: center;
    margin-bottom: 140px;
    &__swiper {
      height: 800px;
      width: 600px;
      &__item {
        align-items: center;
        justify-content: center;
      }
      &__image {
        height: 800px;
        width: 600px;
        /*postcss-pxtransform rn eject enable*/
        display: flex;
        align-items: center;
        justify-content: center;
        /*postcss-pxtransform rn eject disable*/
      }
      &__dot {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__item {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          background-color: rgba(0, 0, 0, 0.5);
          margin: 10px;
          &--select {
            background-color: $duxappWhiteColor;
          }
        }
      }
      &__close {
        position: absolute;
        top: -30px;
        right: -10px;
        background-color: rgba(0, 0, 0, 0.5);
        height: 60px;
        width: 60px;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        z-index: 1;
      }
    }
  }
  &__select {
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px 10px 0 0;
    background-color: $duxappWhiteColor;
    &__btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      width: 20%;
      height: 160px;
      padding: 20px 0;
      font-size: 24px;
      border-radius: 0px;
      border: 0px solid $duxappWhiteColor;
      background-color: transparent;
      /*postcss-pxtransform rn eject enable*/
      outline: none;
      list-style: none;
      &::after {
        border: none;
      }
      /*postcss-pxtransform rn eject disable*/
      &__icon {
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        border-radius: 45px;
      }
      &__text {
        color: $duxappTextColor1;
        font-size: 22px;
        text-align: center;
        margin-top: 12px;
      }
    }
  }
  &__tip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    &__image {
      position: absolute;
      right: 0;
      top: 0;
      width: 520px;
      height: 360px;
    }
  }
}

.wechat-share-btn {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
