.list-search {
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
  border-radius: 40px;
  padding: 8px 15px;
  background-color: $duxappWhiteColor;

  &__input {
    font-size: 28px;
    margin: 0 8px;
    flex: 1;
  }

  &__old {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $duxappWhiteColor;

    &__head {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__name {
        font-size: 28px;
        font-weight: bold;
      }
    }

    &__keys {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 30px;
      gap: 24px;
    }

    &__key {
      border-radius: 57px;
      padding: 12px 32px;

      &__text {
        font-size: 28px;
      }
    }
  }
}
